name: TradeBot

on:
  schedule:
    - cron: "*/5 13-20 * * 1-5"
  workflow_dispatch:

jobs:
  trade:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install alpaca-trade-api pandas pytz

      - name: Run tradebot
        env:
          LPACA_API_KEY: ${{ secrets.ALPACA_API_KEY }}
          ALPACA_SECRET_KEY: ${{ secrets.ALPACA_SECRET_KEY }}
          ALPACA_BASE_URL: ${{ secrets.ALPACA_BASE_URL }}
        run: |
          echo "Start $(TZ='America/New_York' date)"
          python hybrid_tradebot.py
